<link rel="stylesheet" href="css/02_hero/hero.css">
<link rel="stylesheet" href="css/02_hero/hero_mq.css">
<link rel="stylesheet" href="css/03_about/about.css">
<link rel="stylesheet" href="css/03_about/about_mq.css">
<link rel="stylesheet" href="css/04_news/news.css">
<link rel="stylesheet" href="css/04_news/news_mq.css">

<body>
    <%- include("../partials/12_header.ejs") %>
        <%- include("../partials/01_navbar.ejs") %>
            <%- include("../partials/02_hero.ejs") %>
                <%- include("../partials/03_about.ejs") %>
                    <%- include("../partials/04_news.ejs") %>
                        <%- include("../partials/05_footer.ejs") %>
                            <script src="js/jquery.min.js"></script>
                            <script src="js/01_navbar/navbar.js"></script>
</body>

</html>