<%- include("../partials/12_header.ejs") %>
    <link rel="stylesheet" href="css/08_chapters/chapters.css">
    <link rel="stylesheet" href="css/08_chapters/chapters_mq.css">
    <link rel="stylesheet" href="css/09_introduction/introduction.css">
    <link rel="stylesheet" href="css/09_introduction/introduction_mq.css">

    <body>
        <%- include("../partials/01_navbar.ejs") %>
            <%- include("../partials/09_introduction.ejs") %>
                <%- include("../partials/08_chapters.ejs") %>
                    <%- include("../partials/05_footer.ejs") %>
                        <script src="js/jquery.min.js"></script>
                        <script src="js/01_navbar/navbar.js"></script>
                        <script src="js/08_chapters/chapters.js"></script>
                        <script src="js/09_introduction/introduction.js"></script>

    </body>

    </html>